In [19]:
###a)	¿Cuál fue el país que registró el mayor número de despegues?
import pandas as pd
archivo = "airNuevo.csv"
df = pd.read_csv(archivo, header=0, sep=",")
#print(df.columns)
df.columns = df.columns.str.strip()

# Verificar las columnas nuevamente
#print(df.columns)
#print(df['origen'].head())

df_despegues = df.groupby("origen").count()
df_despegues

df_despegues = df_despegues.sort_values("origen", ascending=False)
df_despegues

despegues_mayor=df_despegues.idxmax()
despegues_mayor

vuelo      ESP
día        ESP
destino    ESP
retraso    ESP
dtype: object

In [4]:
### b)	¿Cuál fue el país que recibió la mayor cantidad de aterrizajes?
import pandas as pd

pais_aterrizajes = df['destino'].value_counts().idxmax()
pais_aterrizajes

'MEX'

In [5]:
### c)	Identificar el día del mes con mayor actividad de vuelos y el día con menor actividad


dia_mayor_actividad = df['día'].value_counts().idxmax()

dia_menor_actividad = df['día'].value_counts().idxmin()
print(f"el dia {dia_mayor_actividad} es el que tiene mayor actividad y el dia {dia_menor_actividad} tiene menor actividad ambos del mes de febrero")

el dia 9 es el que tiene mayor actividad   y el dia 21 tiene menor actividad ambos del mes de febrero

In [18]:
#inciso d Determinar qué día presentó la mayor cantidad de retrasos y cuál la menor 
import pandas as pd
df1 = pd.read_csv('fecha.csv')         
df2 = pd.read_csv('retrasos.csv')
df3 = pd.read_csv('vuelos.csv')      


fecha_retrasos_df = pd.merge(df1,df2, on='vuelo', how='inner')
joined = pd.merge(fecha_retrasos_df,df3, on='vuelo', how='inner')


retrasos_por_dia = joined.groupby('dia').agg(total_retrasos=('retraso', 'sum')).reset_index()


dia_mayor_retraso = retrasos_por_dia.loc[retrasos_por_dia['total_retrasos'].idxmax()]
dia_menor_retraso = retrasos_por_dia.loc[retrasos_por_dia['total_retrasos'].idxmin()]

print(f"El día con mayor cantidad de retrasos:{dia_mayor_retraso}")
print(f"El día con menor cantidad de retrasos: {dia_menor_retraso}")

El día con mayor cantidad de retrasos:dia                20
total_retrasos    576
Name: 18, dtype: int64
El día con menor cantidad de retrasos: dia               11
total_retrasos    23
Name: 10, dtype: int64

In [11]:
### EJERCICIO 3 
import pandas as pd
df_fecha = pd.read_csv('fecha.csv')        
df_retrasos = pd.read_csv('retrasos.csv')
df_vuelos = pd.read_csv('vuelos.csv')       

# 2. primero realizo los merge para los df de los archivos 
fecha_retrasos = pd.merge(df_fecha, df_retrasos, on='vuelo', how='inner')
joined_final = pd.merge(fecha_retrasos, df_vuelos, on='vuelo', how='inner')


result_df = joined_final.groupby('vuelo').agg(conteo_vuelos=('vuelo', 'count'),
                                              suma_retrasos=('retraso', 'sum')).reset_index()


result_df['retrasos_acumulados'] = result_df['suma_retrasos'].cumsum()
result_df

    vuelo  conteo_vuelos  suma_retrasos  retrasos_acumulados
0    1050              1             44                   44
1    1148              1             32                   76
2    1190              1             95                  171
3    1338              1             20                  191
4    1443              1             16                  207
..    ...            ...            ...                  ...
94   9556              1             65                 5599
95   9636              1             60                 5659
96   9712              1             85                 5744
97   9962              1             18                 5762
98   9992              1             35                 5797

[99 rows x 4 columns]

In [23]:
#4.- 
import pandas as pd

df = pd.read_csv("airNuevo.csv")
df2 = pd.read_csv("paises.csv")
df.columns = df.columns.str.strip()
df_combinado = df.join(df2, how="inner")

columnas_seleccionadas = ["origen", "destino", "pais"]
df_reducido = df_combinado[columnas_seleccionadas]


PAISES_VIP = {'ESP', 'PER', 'MEX'}
def es_pais_vip(fila):
    return "Sí" if fila["origen"] in PAISES_VIP and fila["destino"] in PAISES_VIP else "No"

df["Pais_VIP"] = df.apply(es_pais_vip, axis=1)

df


#5
#df.to_csv('archivo_final.csv', index=False)

#Y si ahora lo quisiera en 10?

    vuelo  día origen destino  retraso Pais_VIP
0    6005    2    MEX     ESP       52       Sí
1    2021   25    COL     MEX       27       No
2    5528   18    ARG     COL       36       No
3    7965   25    BRA     ARG       82       No
4    8717   13    USA     BRA       29       No
..    ...  ...    ...     ...      ...      ...
95   5401   20    CAN     USA       58       No
96   7050   24    CHI     VEN       68       No
97   1448   22    CHN     USA       53       No
98   6970   22    COL     IND       79       No
99   9531    4    ESP     MEX       83       Sí

[100 rows x 6 columns]

In [26]:
import numpy as np
partes = np.array_split(retrasos_por_dia, 10)
for i, parte in enumerate(partes):
    archivo_nombre = f"retrasos_parte_{i + 1}.csv"
    parte.to_csv(archivo_nombre, index=False)
   # print(f"Guardado: {archivo_nombre}")

In [7]:
#ejercicio 6 Se requiere un proceso específico de filtrado y almacenamiento: 
df = pd.read_csv('vuelos.csv')
df.columns = df.columns.str.strip()
# Primero, filtrar y guardar solo los vuelos que tienen como origen Perú 
vuelos_peru = df[df['origen'] == 'PER']

# Luego, añadir a ese mismo conjunto de datos los vuelos que tienen como origen México
vuelos_mexico = df[df['origen'] == 'MEX']
vuelos_filtrados = pd.concat([vuelos_peru, vuelos_mexico])
#vuelos_filtrados

# 3.El resultado final debe ser un DataFrame que contenga exclusivamente los vuelos que salen de estos dos países 
vuelos_filtrados.to_csv('vuelos_peru_mexico.csv', index=False)

vuelos_filtrados

    vuelo origen destino
44   1148    PER     CUB
64   9636    PER     EGY
66   4390    PER     FRA
0    6005    MEX     ESP
18   6937    MEX     AUS
30   1190    MEX     CHI
61   2777    MEX     CHN
62   6234    MEX     COL